.well {
  padding: 14px 5px 5px;
  margin-bottom: 0;
  margin-top: 50px;
}

.list-group.row, .form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.list-group-item span {
  line-height: 35px;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn_nav_back {
  height: 20px;
  line-height: 0 !important;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #419641 !important;
  color: #fff !important;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.25) !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: #fff !important;
  cursor: text !important;
}

.no_padding {
  padding: 0;
}

.form_filter .row {
  margin-bottom: 5px;
}

#BillingTable thead tr {
  background-color: #2B669A;
  color: #fff;
}
#BillingTable thead tr th.tablesorter-headerAsc {
  background-color: #FCF8E3;
  color: #000;
}
#BillingTable thead tr th.tablesorter-headerDesc {
  background-color: #D9EDF7;
  color: #000;
}

.tablesorter tbody {
  background-color: #fff;
}
.tablesorter td .btn-primary {
  margin-left: 3px;
}

ul.nav.navbar-nav {
  text-align: center;
}
ul.nav.navbar-nav li {
  display: inline-block;
}

.list-group.row .allItemsSale .parentItemSale .inlineBlock {
  display: flex;
}
.list-group.row .allItemsSale .parentItemSale .inlineBlock .changeSelectContent {
  margin-right: 18px;
}

.selectInlineProvider {
  width: initial;
  color: #000;
  margin-left: 8px;
}
.selectInlineProvider select {
  height: 34px;
  width: 120px;
}

.blankProductItemDescription {
  background-color: #f9fbe7;
}

.allotItemRevision {
  background-color: #f5deb3;
}

.list-group-item input.revisionCount {
  margin-right: 4px;
  height: 34px;
}

.navbar.navbar-default {
  margin-bottom: 0;
  padding: 0 10px;
}
.navbar.navbar-default .allNavElem {
  display: flex;
}
.navbar.navbar-default .allNavElem .btnOpenleftBar {
  font-size: 30px;
  cursor: pointer;
  width: 30px;
  text-align: center;
}
.navbar.navbar-default .allNavElem .headerTitle {
  width: calc(100% - 60px);
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  line-height: 28px;
  padding-top: 8px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .93;
  overflow-x: hidden;
  padding-top: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transform: translateX(-250px);
  transition-duration: 0.2s;
}
.sidenav.open {
  transform: translateX(0px);
  z-index: 9999;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
}
.sidenav a:hover {
  color: #818181;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
