
.content.page_buy_rate {
  .description_page {
    font-size : 14px;
  }
  .content_rate {
    margin-top : 20px;
    display    : table;
    width      : 100%;
    .item_content{
      display: flex;
      border-bottom: 1px solid;
      padding-bottom: 16px;
      padding-top: 16px;
      .icon{
        width: 50px;
        img{
          width: 100%;
        }
      }
      .name{
        width: 50%;
        padding-left: 24px;
        padding-top: 24px;
      }
      .sum{
        width: 20%;
        padding-top: 24px;
        padding-left: 8px;
      }
      .count{
        width: 20%;
        padding-top: 24px;
      }
      .remove{
        .btn_rm{
          border-radius: 50%;
          background-color: #F6A623;
          color: white;
          font-size: 18px;
          width: 20px;
          height: 20px;
          text-align: center;
          margin-top: 24px;
          cursor: pointer;
        }
      }
    }
  }
  .form_send_basket{
    margin-top: 24px;
    .input-wrp{
      border-bottom: 1px solid #bdbdbd;
      padding-bottom: 12px;
      padding-top: 12px;
      input{
        width: 100%;
        background-color: inherit;
        border-width: 0px;
        outline: none;
        font-size: 16px;
      }
    }
    .btn{
      margin-top: 24px;
      margin-left: calc(100% - 128px);
      display: inline-block;
    }
  }
}