- all_pr = [{title: "Не выбрано", id: 0}] + @products.map{|pr| {title: pr.title, id: pr.id, add_data: {"data-price" => pr.current_purchase_price(provider_id)} } }
= render "common_select_new", {arr_li: all_pr, default: 0, add_class: "noInit"}
