<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Восстановление пароля</h1>
  <div>
    <b>Логин: </b>
    <%= @send_email %>

  </div> 
  <div> 
    <b>Новый пароль: </b> 

    <%= @pass %>
  </div> 
  
  <div>
    <a href="http://<%= @url %>/sign_in">Перейти на сайт</a>
  </div>
</body>
</html>