// Изменяемая часть
= render "common_input", {title: "Название", name: "providers[title]", value: @model.title}
input type="hidden" name="providers[company_id]" value=current_company.id
// ================