<% title "Табак для кальяна от мировых лидеров табачного производства!" %>
<div class="content content-block__normal">
  <% if params[:category_id].present? %>
    <div class="sorting_slider">
      <div class="left_part_sort">
        <%
          price_from = params[:price][:from] rescue 0
          price_to = params[:price][:to] rescue 1000
        %>
        <div id="sliderSort" data-from="<%= price_from %>" data-to="<%=  price_to %>"></div>
      </div>
      <div class="rigth_part_sort">
        <div class="btn js__submitBtnFormSliderSort">Поиск</div>
      </div>
    </div>
  <% end %>
  <div class="allItems">
    <% @items.each do |item| %>
      <% if item.count > 0 || item.in_stock %>
        <%= render "item_block", {item: item} %>
      <% end %>
    <% end %>
  </div>
</div>
