.user_menu .exit i{
    color: #dfdfdf;
    font-size: 20px;
}

.left-sidebar__normal .left-menu i{
    width: 30px;
    display: inline-block;
    left: -20px;
    position: relative;
    font-size: 26px;
    top: 6px;
    cursor  : pointer;
    color: #dfdfdf;
}

.left-sidebar__normal .left-menu a:hover i{
    color: white;
}

i.buy_rate:before {
    content : "\e673";
}

i.category:before {
    content : "\e640";
}

i.how_it_works:before {
    content : "\e994";
}

i.winners:before {
    content : "\e8cb";
}

i.bonuses:before {
    content : "\ea41";
}

i.faq:before {
    content : "\e916";
}

i.contacts:before {
    content : "\e9ca";
}

i.cash:before{
    content : "\e93b";
}

i.participant:before{
    content : "\e971";
}

i.burger:before{
    content: "\e8a1";
}

i.clock:before{
    content : "\e94e";
}

i.log_in:before{
    content : "\ea13";
}

i.log_out:before{
    content : "\ea14";
}

i.printer:before{
    content : "\e901";
}

i.edit:before{
    content : "\e7fc";
}

i.edit:before{
    content : "\e7fc";
}

i.remove:before{
    content : "\e902";
}

i.back:before{
  content : "\e912";
}

i.more_vert:before{
  content : "\e913";
}

/*LEFT MENU ICON 14*/
i.home:before{
  content : "\e909";
}

i.settings:before{
  content : "\e90a";
}

i.cashbox:before{
  content : "\e910";
}

i.page_content:before{
  content : "\e90e";
}

i.users:before{
  content : "\e90d";
}

i.contacts:before{
  content : "\e90c";
}

i.buy:before {
  content: "\e908";
}

i.providers:before {
  content: "\e907";
}

i.sales:before {
  content: "\e904";
}

i.revision:before {
  content: "\e906";
}

i.products:before {
  content: "\e90b";
}

i.stock:before {
  content: "\e905";
}

i.order_requests:before {
  content: "\e90f";
}

i.transfers:before {
  content: "\e911";
}

i.check:before{
  content: "\e899";
}


