// Изменяемая часть
= render "common_input", {title: "Наличные", name: "cashbox[cash]", value: @model.cash}
= render "common_input", {title: "Visa", name: "cashbox[visa]", value: @model.visa}
- if params[:magazine].present? 
  input type="hidden" name="cashbox[magazine_id]" value=params[:magazine]
// ================