<% curr_profit_procent = ((@curr_profit / @curr_sale * 100).round(2)) rescue 0 %>
<% curr_sale_procent = 100.0 - curr_profit_procent %>

<% curr_exp_procent = (((@curr_exp.to_f + @manager_pay.to_f) / @curr_profit.to_f * 100.0).round(2)) rescue 0 %>

<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data_1 = google.visualization.arrayToDataTable([
      ['Название', 'Сумма'],
      ['Продажи', <%= curr_sale_procent %>],
      ['Выручка', <%= curr_profit_procent %>]
      ]);

    var options_1 = {
      title: 'Продажи, Выручка',
      pieHole: 0.4,
    };

    var data_2 = google.visualization.arrayToDataTable([
      ['Название', 'Сумма'],
      ['Расходы', <%= @curr_profit == 0 ? (@curr_exp.to_f + @manager_pay.to_f) : curr_exp_procent %>],
      ['Выручка',  <%= @curr_profit == 0 ? 0 : 100.0 - curr_exp_procent %>]
    ]);

    var options_2 = {
      title: 'Расходы, Выручка',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data_1, options_1);
    
    var chart2 = new google.visualization.PieChart(document.getElementById('donutchart2'));
    chart2.draw(data_2, options_2);
  }
</script>
<div class="displayFlex">
  <div id="donutchart" class="block-material" style="width: 100%; height: 300px;margin-right: 16px;"></div>
  <div id="donutchart2" class="block-material" style="width: 100%; height: 300px;"></div>
<!--     <div class="donutchart" style="width: 100%; height: 500px;"></div>
  <div class="donutchart" style="width: 100%; height: 500px;"></div> -->
</div>