h4 Текущая касса: #{@cashbox.to_i} рублей
hr style="border-top: 1px solid #333"
//////////////////
b Денег в товаре: #{@stock_price.to_i} рублей
br
b Сумма касса + товар = #{(@cashbox + @stock_price).to_i} рублей
br
b Касса кальнов: #{HookahCash.cash_box} рублей
hr style="border-top: 1px solid #333"
//////////////////
h3 Статистика за последнию неделю
b Проданно на: #{@last_sales_price} рублей
br
b Прибыль: #{@last_sales_price - @sales_profit} рублей
hr style="border-top: 1px solid #333"
//////////////////
h3 Статистика продаж и закупов за текущий месяц
b Продажи: #{@curr_month_sales_price} рублей
br
b Закупы:  #{@curr_month_buy_price} рублей
br
b Прочие расходы: #{@curr_month_other_down_price} рублей
br
b Прочие доходы: #{@curr_month_other_up_price} рублей
br
b Прибыль: #{(@curr_month_sales_price - @curr_month_buy_price) + @curr_month_other_up_price - @curr_month_other_down_price} рублей
//////////////////