/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ../admin/pages
 */


.imgItem {
  padding-bottom : 5px;
  .checkedImgPrev {
    margin-right : 10px;
  }
  .imgMini {
    width : 140px;
  }
  .removeImg {
    padding-left : 10px;
    cursor: pointer;
  }
}

.list-group.row{
  .list-group-item.col-md-6, .list-group-item.col-md-3{
    display: flex;
  }
}

.form-group{
  .all_order_items{
    .order_item{
      margin-top: 4px;
    }
  }
}

.table_cashbox_page{
  .info_column{
    width: 60%;
  }
  .table_title_cash{
    background-color: #656565;
    color: white;
    border: 1px solid #656565 !important;
  }
}
.panel_gray_common{
  background-color: #656565;
  color: white;
  text-shadow: 0 -1px 0 #286090;
}

.list-group-item{
  form.def_pay{
    display: flex;
    margin-bottom: 0px;
  }
  span.type_cashbox{
    width: 128px;
    height: 34px;
    .form-group{
      margin-bottom: 0;
    }
  }
}

.saleAllItemCashbox{
  overflow: auto;
  .titlePrice{
    font-size: 34px;
    text-align: center;
  }
  .titleDelivery{
    font-size: 18px;
    text-align: center;
    display: none;
  }
  .actionBtnSale{
    .priceItemSale{
      height: 40px;
      text-align: center;
      line-height: 36px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 4px;
    }
    button{
      width: 100%;
      height: 40px;
      margin-top: 4px;
      font-size: 18px;
    }
  }
  .allItemsSale{
    .countItems{
      max-width: 82px;
    }
    .selectPrice{
      max-width: 72px;
    }
    .createFromBarcodeScan{
      .barcode{
        input{
          display: none;
        }
        span{
          display: initial !important;
        }
      }
    }
  }
}
.list-group-item.col-md-3{
  .allProductCalc{
    padding-top: 8px;
  }
}
.list-group-item{
  .commonInfo{
    display: flex;
    justify-content: space-between;
    span{
      width: inherit;
    }
  }
}

.btn-margin-left{
  margin-left: 8px;
}




