/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ../admin/pages
 */


.imgItem {
  padding-bottom: 5px;
  .checkedImgPrev {
    margin-right: 10px;
  }
  .imgMini {
    width: 140px;
  }
  .removeImg {
    padding-left: 10px;
    cursor: pointer;
  }
}

.list-group.row .list-group-item {
  &.col-md-6, &.col-md-3 {
    display: flex;
  }
}

.form-group .all_order_items .order_item {
  margin-top: 4px;
}

.table_cashbox_page {
  .info_column {
    width: 60%;
  }
  .table_title_cash {
    background-color: #656565;
    color: #fff;
    border: 1px solid #656565 !important;
  }
}

.panel_gray_common {
  background-color: #424242;
  color: #fff;
  .mad-select {
    background-color: #fff;
    ul li.selected {
      font-weight: 100;
    }
  }
}

.list-group-item {
  form.def_pay {
    display: flex;
    margin-bottom: 0;
  }
  .type_cashbox .form-group {
    width: calc(100% + 24px);
    margin-bottom: 0;
    padding-right: 34px;
    height: 28px;
    .mad-select {
      border-bottom: initial;
    }
  }
}

.saleAllItemCashbox {
  width: 100%;
  .titlePrice {
    font-size: 34px;
    text-align: center;
  }
  .list-group-item:first-child {
    background-color: initial;
    border: 0;
    padding-top: 0;
  }
  .parentItemSale .mad-select {
    min-width: 164px;
  }
  .titleDelivery {
    font-size: 18px;
    text-align: center;
    display: none;
  }
  .actionBtnSale {
    .priceItemSale {
      height: 40px;
      text-align: center;
      line-height: 26px;
      font-size: 18px;
      cursor: pointer;
      border-radius: 4px;
    }
    .btn {
      width: 100%;
      height: 40px;
      margin-top: 4px;
      font-size: 18px;
    }
  }
  .allItemsSale {
    .countItems {
      max-width: 82px;
    }
    .selectPrice {
      max-width: 72px;
    }
    .createFromBarcodeScan .barcode {
      input {
        display: none;
      }
      span {
        display: initial !important;
      }
    }
    .mad-select ul.mad-select-drop.show {
      max-height: 290px;
    }
    .parentItemSale .formLoadContentTaste .mad-select {
      min-width: 248px;
    }
  }
}

.formCreate {
  display: flex;
  min-height: 259px;
}

.list-group-item {
  &.col-md-3 .allProductCalc {
    padding-top: 8px;
  }
  .commonInfo {
    display: flex;
    justify-content: space-between;
    span {
      width: inherit;
    }
  }
}

.btn-margin-left {
  margin-left: 8px;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .displayFlex {
    display: block;
  }
}




