.imgItem {
  padding-bottom : 5px;
  .checkedImgPrev {
    margin-right : 10px;
  }
  .imgMini {
    width : 140px;
  }
  .removeImg {
    padding-left : 10px;
    cursor: pointer;
  }
}

.list-group.row{
  .list-group-item.col-md-6{
    display: flex;
  }
}
