b Текущая касса: #{@cashbox} рублей
br
b Закуп: #{@buy} рублей
hr style="border-top: 1px solid #333"
h3 Статистика за последнию неделю
b Проданно на: #{@last_sales_price} рублей
br
b Прибыль: #{@last_sales_price - @sales_profit} рублей