/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree ./vendor
 *= require_self
 *= require_tree ./win_size
 *= require_tree ./pages
 *= require_tree ./vendor
 */

.item_link {
  color : #000;
}

.item_link:hover {
  color : #F1592A;
}

.block_display_inline{
  display: inline-block;
}

@import "left_sidebar/menu_normal";
@import "aside";
@import "common";
@import "header";
@import "sidebar_category";
@import "fix";
@import "font";
@import "icons";
