header {
    width      : 100%;
    height     : 48px;
    background : url(/uploads/common/header/header.png) 0 0 repeat-x;
    position   : fixed;
    top        : 0;
    left       : 0;
    z-index    : 999
}

header .holder__new {
    display: flex;
    padding-top : 7px;
    *zoom       : 1;
    width       : 96.3571%;
    margin      : 0 auto;
    position    : relative
}

header .holder__new:after {
    clear       : both;
    display     : table;
    content     : "";
    line-height : 0
}

header .holder__new:before {
    display     : table;
    content     : "";
    line-height : 0
}

header .logo, header .log-out {
    height : 30px
}

header .logo {
    float        : left;
    margin-right : 22px;
    margin-left  : -4px;
    margin-top   : -7px;
}

header .notification-area {
    *zoom        : 1;
    float        : left;
    padding-top  : 5px;
    margin-right : 33px
}

#product_logo {
    width: 192px;
    height: 25px;
    padding-top: 6px;
}

header .notification-area:after {
    clear       : both;
    display     : table;
    content     : "";
    line-height : 0
}

header .notification-area:before {
    display     : table;
    content     : "";
    line-height : 0
}

header .notification-area > div .icon {
    float  : left;
    cursor : pointer
}

header .notification-area > div .qty__new {
    float        : left;
    margin-right : 2px
}

header .notification-area .new-comments {
    float        : left;
    margin-right : 15px
}

header .notification-area .new-comments .icon {
    width      : 23px;
    height     : 16px;
    background : url(/uploads/common/header/new-comments.png) 0 0 no-repeat
}

header .notification-area .new-chat-msg {
    float : left
}

header .notification-area .new-chat-msg .icon {
    width      : 21px;
    height     : 17px;
    background : url(/uploads/common/header/new-msg.png) 0 0 no-repeat
}

header .dialogs-area {
    *zoom : 1;
    float : left;
    width : 355px
}

header .dialogs-area:after {
    clear       : both;
    display     : table;
    content     : "";
    line-height : 0
}

header .dialogs-area:before {
    display     : table;
    content     : "";
    line-height : 0
}

header .dialogs-area .legend {
    float        : left;
    color        : silver;
    margin-top   : 4px;
    margin-right : 9px
}

header .dialogs-area .item {
    display        : inline-block;
    vertical-align : top;
    margin         : 0;
    zoom           : 1;
    *display       : inline;
    content        : "";
    *zoom          : 1;
    margin-right   : 3px;
    cursor         : pointer;
    position       : relative;
    height         : 38px
}

header .dialogs-area .item:after {
    clear       : both;
    display     : table;
    content     : "";
    line-height : 0
}

header .dialogs-area .item:before {
    display     : table;
    content     : "";
    line-height : 0
}

header .dialogs-area .item .qty__new {
    float      : left;
    margin-top : 7px
}

header .dialogs-area .item > .ava {
    float         : left;
    width         : 27px;
    height        : 27px;
    border-radius : 50%;
    border        : 2px solid #4A4C52;
    position      : relative
}

header .dialogs-area .item > .ava .online {
    background-color : #38B501;
    border           : 3px solid #FFF;
    border-radius    : 50%;
    width            : 7px;
    height           : 7px;
    display          : block;
    position         : absolute;
    top              : 16px;
    left             : 16px
}

header .dialogs-area .item:hover > .ava {
    border-color : #FFF
}

header .important-a {
    float        : left;
    color        : #FFF;
    line-height  : 21px;
    margin-right : 19px
}

header .important-a:hover {
    color : #F1592A
}

header .important-a .icon {
    display        : inline-block;
    vertical-align : top;
    margin         : 0;
    zoom           : 1;
    *display       : inline;
    content        : "";
    width          : 21px;
    height         : 21px;
    background     : url(/uploads/common/header/important-a.png) 0 0 no-repeat;
    margin-right   : 3px
}

header .search {
    width         : 71px;
    background    : url(/uploads/common/header/search.png) 0 7px no-repeat;
    padding-left  : 15px;
    border-bottom : 1px solid #9CA0A6;
    float         : left;
    margin-right  : 13px
}

header .search input {
    background : none;
    border     : none;
    width      : 71px
}

header .separator {
    border-left  : 1px solid #818588;
    height       : 30px;
    float        : left;
    margin-right : 10px;
    margin-top   : -5px;
}

header .log-out {
    float        : left;
    height       : 23px;
    width        : 20px;
    margin-right : 4px;
    position     : relative;
    /*background   : url(/uploads/common/header/header-logout.png) 0 0 no-repeat*/
}

header .log-in {
    float        : left;
    height       : 23px;
    width        : 20px;
    margin-right : 4px;
    position     : relative;
    /*background   : url(/uploads/common/header/header-login.png) 0 0 no-repeat*/
}

header .left-part{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

header .left-part .burger{
    display: none;
}

header .right-part {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 2px;
}

header #scrollbar1 .viewport {
    overflow : hidden;
    position : relative
}

header #scrollbar1 .overview {
    list-style : none;
    position   : absolute;
    left       : 0;
    top        : 0;
    padding    : 0;
    margin     : 0;
    width      : 100%
}

header #scrollbar1 .scrollbar {
    background          : #EBECED;
    position            : absolute;
    background-position : 0 0;
    top                 : 38px;
    right               : 0;
    width               : 15px;
    z-index             : 99;
    height              : 352px !important
}

header #scrollbar1 .track {
    height   : 100%;
    width    : 13px;
    position : relative;
    padding  : 0 1px
}

header #scrollbar1 .thumb {
    background    : #A8ACAF;
    height        : 20px;
    width         : 10px;
    cursor        : pointer;
    overflow      : hidden;
    position      : absolute;
    top           : 0;
    left          : 3px;
    border-radius : 10px;
    margin-top    : 5px
}

header #scrollbar1 .thumb .end {
    overflow : hidden;
    height   : 5px;
    width    : 25px
}

header #scrollbar1 .disable {
    display : none
}

header .noSelect {
    user-select         : none;
    -o-user-select      : none;
    -moz-user-select    : none;
    -khtml-user-select  : none;
    -webkit-user-select : none
}

header .my_rate {
    display      : inline-block;
    color        : white;
    float        : left;
    margin-right: 4px;
}

header .my_rate .buy_rate{
    font-size: 20px;
}

header .profile{
    width: 20px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

header .admin, header .phone{
    display: inline-block;
    float: left;
    margin-right: 10px;
}

header .admin a {
    color: #dfdfdf;
    font-size: 20px;
}

header .phone a{
    font-size: 16px;
    line-height: 20px;
    color: #dfdfdf;
    margin-right: 6px;
    border-bottom: #dfdfdf 1px dashed;
}

header .my_rate .count {
    border-radius: 50%;
    background-color: #F6A623;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    left: -8px;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    display: inline-block;
}