@media only screen and (min-width : 900px) and (max-width : 1300px) {
    .left-sidebar__wrp .left-sidebar__shot {
        left : 0
    }

    /*.left-sidebar__wrp .left-sidebar__normal {*/
        /*display : none*/
    /*}*/

    .my-tasks__wrp .inner__right-sidebar {
        margin-right : 300px
    }

    .my-tasks__wrp .inner-left-sidebar {
        margin-left : 60px
    }

    .my-tasks__wrp .my-tasks__shot {
        z-index : 21
    }

    .my-tasks__wrp .my-tasks__normal {
        left     : -1000px;
        position : fixed;
        top      : 0;
        height   : 100%
    }

    .my-tasks__wrp .task-list .tags-wrp .tag {
        display : none
    }

    .my-tasks__wrp .task-list .tags-wrp .all-tags {
        display : inline-block !important
    }

    .content__wrp .inner__right-sidebar {
        margin-right: 290px;
    }
    .content__wrp .inner__right-sidebar.not_right_bar{
        margin-right: 0px;
    }

    .content__wrp .inner-left-sidebar {
        margin-left : 260px
    }

    .content__wrp .inner__my-tasks {
        margin-left : 0px
    }

    .content__wrp .content-block__shot {
        z-index : 22
    }

    .content__wrp .content-block__normal {
        z-index : 22;
        margin-top: 60px;
        text-align: center;
    }
}