a.btn.btn-danger.pull-right href="#{url}/remove" data-method='delete' style="margin-right: 5px;" onclick="return confirm('Вы уверены?')"
  | &#10006;
a.btn.btn-success.pull-right href="#{url}/edit" style="margin-right: 5px;"
  | &#9998;