a.btn.btn-success-material href="#{url}/edit" style="margin-right: 5px;" class=(class_edit rescue "") data-title=(data_title rescue "")
  | &#9998;
a.btn.btn-danger-material href="#{url}/remove" data-method='delete' style="margin-right: 5px;" onclick="return confirm('Вы уверены?')" class=(class_remove rescue "")
  | &#10006;