<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);
  <% arr = ([['День', 'Продажи', 'Заработано']].concat Sale.meneger_curr_month_statistic(current_user.id)).to_json %>
  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%= arr.html_safe %>);

    var options = {
      chart: {
        title: '<%=  current_user.email %>',
        subtitle: 'продажи, заработок за текущий месяц',
      }
    };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
</script>
<div id="columnchart_material" style="width: 100%; height: 500px;margin-top: 24px;"></div>