meta name="description" content="Сервис для магазинов розничной торговли. Онлайн учет товаров в магазине и в торговле. Программа для ведения склада. Автоматизация рабочего места кассира. Автоматизация розничного магазина и розничной торговли."
meta name="viewport" content="width=device-width, initial-scale=1"
meta property="og:url" content="https://crm-stock.ru"
meta property="og:title" content="CRMStock - автоматизация магазина за пару часов"
meta property="og:description" content="Экономьте время, сокращайте затраты и увеличивайте доход используя CRMStock. Более 400 магазинов по все стране выбрали CRMStock для учета и управления в магазине."
meta property="og:image" content="https://crm-stock.ru/home/iphone.png"
meta name="keywords" content="маркировка товаров, маркировка 2020, программа для магазина, автоматизация складского учета, база товаров склада, црмсток, црм сток, crmstock, crm stock, складской учет система, приход расход программа, склад автоматизация, складской учет торговля, склад учет программа"
meta name="yandex-verification" content="29af1b29c26a18cf"
meta name="google-site-verification" content="F-cMMf9rr-2djpb0Kz6fUKFf27uzx8aZRTH3L0CrVjs"